<html>
  <head>
    <style>
      body{
        display:flex;
        background:#91919120;
        justify-content:center;
        align-items:center;
        line-height:24px;
      }
      p{
        font-family:"Helvetica"
      }
    </style>
  </head>
  <body>
    <img src="https://image.flaticon.com/icons/svg/1271/1271380.svg" width="24px" height="24px" alt="checkmark"/>
    <p>&emsp;New User Added</p>
  </body>
</html>
<script type="text/javascript">
  console.log("add user script loaded")
  //Reroute to root after 5 secs
   setTimeout(()=>location.replace('/'),5000)
</script>